* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}
@media screen and (max-width: 400px) and (min-width: 100px) {
    .relative_header_adaptive p {
        font-size: 6px;
    }

    .relative_header_adaptive {
        top: 30px;

    }
}
@media screen and (max-width: 500px) and (min-width: 400px) {

    .relative_header_adaptive p {
        font-size: 8px;
    }

    .relative_header_adaptive {
        top: 23px;
    }
}

@media screen and (max-width: 700px) and (min-width: 500px) {
    .relative_header_adaptive p {
        font-size: 10px;
    }

    .relative_header_adaptive {
        top: 28px;

    }
}

@media screen and (min-width: 700px) {
    .relative_header_adaptive p {
        font-size: 12px;
    }

    .relative_header_adaptive {
        top: 33px;
    }
}

@media screen and (min-width: 1000px) {
    .footer {
        margin-left: 39px;
        margin-bottom: 29px;
    }

    .social {
        display: flex;
        height: 24px;
        margin: auto 0;
        margin-left: 74px;
        gap: 36px;
    }

    .adaptive_social {
        display: none;
    }

    .vk_button {
        display: flex;
    }

    .telegram_button {
        display: flex;
    }

    .header {
        padding: 100px 37px 10px 37px;
    }

    .hidden_header_div_left_block {
        display: none;
    }

    .header_normal_text {
        display: none;
    }

    .hidden_header_div_right_block {
        display: none;

    }

    .header-component2 {
        display: flex;
    }

    .header-component3 {
        display: flex;
    }

    .header-component1 {
        height: 100%;
    }
}

@media screen and (max-width: 1000px) {

    .header_normal_text {
        display: flex;
    }

    .footer {
        margin-left: 30px;
        margin-bottom: 60px;
    }

    .social {
        display: flex;
        height: 24px;
        /*margin: auto 0;*/
        margin-left: 20px;
        gap: 36px;
    }

    .adaptive_social {
        display: flex;
        gap: 10px;
    }

    .vk_button {
        display: none;
    }

    .telegram_button {
        display: none;
    }

    .header-component1 {
        height: 28px;
    }

    .header {
        padding: 50px 30px 0 30px;
    }

    .hidden_last_photo_header {
        width: 12px;
    }

    .hidden_header_div {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .hidden_header_div_left_block {
        display: flex;
        gap: 5px;
        margin-left: 20px;
    }

    .header-component2 {
        display: none;
    }

    .header-component3 {
        display: none;
    }
}

.header {
    /*height: 40px;*/
    /*justify-content: center;*/
    display: flex;
    flex-direction: row;
    z-index: 1;
    justify-content: space-between;
    align-items: start;
}


.telegram_button div {
    margin: auto 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: rgba(0, 0, 0, 0.4);

}


.vk_button div {
    margin: auto 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: rgba(0, 0, 0, 0.4);

}

.header-component1 img {
    height: 100%;
}

.header-component1 {
    z-index: 2;
    width: auto;
}

.header-component2 {
    z-index: 2;
    height: 24px;
    width: 80%;
    margin: 4px 0;
    justify-content: space-around;
}

.header-component3 {
    z-index: 2;
    margin-top: 4px;
    height: 24px;
    width: 10%;
}

.header_main_right_leftBlock {
    height: 24px;
    width: auto;
    border-radius: 6px;
    border: 1px solid gray;
    display: flex;
    background: none;
    /*background-color: white;*/

}

.header_main_right_leftBlock p {
    padding: 0 33px;
    height: auto;
    margin: auto;
    color: grey;
}

.header_main_right_rightBlock {
    padding-left: 34px;
    padding-right: 20px;
    height: 24px;
    width: 180px;
    background: none;
    border-radius: 6px;
    border: 1px solid gray;
}

.header_main_right {
    display: flex;
    gap: 34px;
}

.header_main_left {
    display: flex;
    gap: 40px;
}

.header_signIn {
    display: flex;
    text-align: center;
    /*vertical-align: center;*/
    height: 24px;
    width: 93%;
    border: 1px solid black;
    border-radius: 6px;
}

.header_signIn p {
    margin: auto;
}

.footer {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    height: 39px;
}

.hidden {
    visibility: hidden;
}

.normal_header {
    display: flex;
    gap: 40px;
}

.relative_header {
    position: relative;
    display: flex;
    top: 30px;
    right: 250px;
    width: 0;
}
.relative_header_second_page {
    position: relative;
    display: flex;
    top: 30px;
    right: 256px;
    width: 0;
}

.relative_header_second_page p {
    padding-right: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */


    color: rgba(0, 0, 0, 0.2);

}
.relative_header p {
    padding-right: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */


    color: rgba(0, 0, 0, 0.2);

}

.relative_header_adaptive {
    position: relative;
    display: flex;
    right: 45px;
    width: 0;
}

.relative_header_adaptive p {
    padding-right: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 9px;

    color: rgba(0, 0, 0, 0.2);


}
